# Terraform state files
*.tfstate
*.tfstate.backup

# Crash logs
crash.log

# Local Terraform directories
.terraform/
.terraform.lock.hcl

# CLI history
.terraform_history

# Sensitive credentials / keys
*.pem
*.key
id_rsa
credentials
secrets.tfvars
